.act{
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}
ion-title {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: large;

  }
  img{
    border-radius: 15px;
  }