<ion-header>
  <ion-toolbar color="inicio">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="end" color="light"name="logo-discord"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Vestige</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="act" style="background-image: url('../../assets/img/backGround/inicioBG.jpg'); height: auto;" >
    <br>
    <ion-card color="dark">
            <ion-card-header>
            <ion-card-title>Vestige</ion-card-title>
            </ion-card-header>
        
            <ion-card-content>
              Es un videojuego del género aventura-plataforma y Metroidvania desarrollado por Pollo, ratón y pescado.
            </ion-card-content>
            <ion-img src="../../assets/img/inicio/vestige.png " alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
            <ion-card-content>
                <p>El mejor juego single-player multi nivel que jamás has probado.</p>
            </ion-card-content>
    </ion-card>
    <ion-card color="dark">
      <ion-card-content>
          <p>Las estatuas de las 6 deidades han sido robadas, el gremio coloca la misión para recuperarlas; 
            lo que nos lleva a través de niveles temáticos y llenos de enemigos</p>
          <p>¡Cada personaje cuenta con distintas hábilidades únicas!</p>
          <img src="../../assets/img/inicio/banner.jpg "><img>
          <p>Adentrate en sus misteriosos niveles y resuelve los distintos desafios que han
          sido agregados.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
