ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }
  ion-title {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: rgb(0, 0, 0);

  }
  ion-list{
    background-color: rgb(255, 255, 255);
  }
  