<ion-content>
    <div class="act" style="background-image: url('../../assets/img/backGround/logrosBG.jpg');">
        <br/>
        <br>
        <br>
        <br>
        <br>
        <ion-card>
             <img alt="Silhouette of mountains" src="{{logro.imagen}}" />
             <ion-card-header>
                <ion-card-title>{{logro.nombre}}</ion-card-title>
             </ion-card-header>
            <ion-card-content>
                {{logro.descripcion}}
            </ion-card-content>
                <ion-row>
                </ion-row>
        </ion-card>
        <ion-button color="principal" expand="full" (click)="regresar()" >Salir <ion-icon name="exit-sharp"></ion-icon></ion-button>
    </div>
</ion-content>