.act{
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
  ion-card{
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: rgba(26, 95, 32, 0.212);
  }
  ion-card-title{
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: rgb(255, 255, 255);
  }
  ion-list{
    background-color: rgba(255, 255, 255, 0.075);
  }
  
  img{
    border-radius: 14px;
  }
  ion-label{
    font-size: 8px;
  }
  
  
  