<ion-content>
    <div class="act" style="background-image: url('../../assets/img/backGround/principalesBG.jpg');">
        <br>
        <ion-card>
             <img alt="Silhouette of mountains" src="../../assets/img/notfound.png" />
             <ion-card-header>
                <ion-card-title>{{personajePrincipal.nombre}}</ion-card-title>
                <ion-card-subtitle> Habilidad: {{personajePrincipal.habilidad}}</ion-card-subtitle>
             </ion-card-header><br/> 
            <ion-card-content>
                {{personajePrincipal.descripcion}}
            </ion-card-content>
                <ion-row>
                  <ion-col>Daño <br>{{personajePrincipal.stats.dano}}</ion-col>
                  <ion-col>Salto <br>{{personajePrincipal.stats.salto}}</ion-col>
                  <ion-col>Velocidad <br>{{personajePrincipal.stats.velocidad}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Vida {{personajePrincipal.stats.vida}}</ion-col>
                </ion-row>
        </ion-card>
        <ion-button color="principal" expand="full" (click)="regresar()" >Salir <ion-icon name="exit-sharp"></ion-icon></ion-button>
    </div>
</ion-content>